@font-face {
  font-family: 'Pixelify Sans';
  src: url('fonts/PixelifySans-Regular.ttf') format('truetype');
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  background-color: #f8e0ff;
  font-family: 'Pixelify Sans', Arial, sans-serif;
}

.card {
  width: 260px;
  /* background-color: #d5c9ff; */
  /* border: 3px solid #bcaeff; */
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 0;

  /* fundo transparente */
  background-color: rgba(213, 201, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card-header{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #bcaeff; */
  padding: 8px;
  /* background-color: #bcaeff; */
}

.card-header .title {
  font-size: 20px;
}

.card-body {
  text-align: center;
}

.weather-icon {
  position: relative;
}

.weather-icon .temp {
  position: absolute;
  top: 10px;
  left: 20px;
  background: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
}

.weather-icon img {
  width: 100%;
  max-width: 180px;
  image-rendering: pixelated;
}

.card-footer {
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

.card-image-bg {
  position: relative;
  background-image: url('images/fundo-background.jpg');
  background-size: 180%;
  background-position: center;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-image-bg img {
  width: 150px;
  image-rendering: pixelated;
  z-index: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.arrow.left {
  left: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.arrow.right {
  right: 10px;
}

input#cat-name {
  padding: 8px 0;
  width: 90%;
  border: none;
  border-bottom: 2px solid #bcaeff;
  background: transparent;
  font-family: 'Pixelify Sans';
  font-size: 20px;
  text-align: center;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
}

input#cat-name::placeholder {
  color: #999;
  text-align: center;
}

input#cat-name:focus {
  border-bottom-color: #9c89ff;
}

button#add-cat {
  background-color: #bcaeff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Pixelify Sans';
}

#selected-cats {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 9999;
}

.selected-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.5);
  border: 2px solid #bcaeff; */
  border-radius: 10px;
  padding: 5px;
  /* backdrop-filter: blur(6px);
  box-shadow: 0 0 5px rgba(0,0,0,0.2); */
  animation: float 5s ease-in-out infinite;
}


.selected-cat img {
  width: 80px;
  height: auto;
  image-rendering: pixelated;
}

.selected-cat .cat-name {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Pixelify Sans', sans-serif;
  margin-bottom: 5px;
}

.cat-subtitle {
  font-size: 12px;
  color: gray;
  margin-top: -4px;
}


/* zoom */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


/* para os lados */
@keyframes swing {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
}


/* se mover para cima e para baixo */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
